// Place all the styles related to the Brokers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.div-center{
	justify-content: center !important;
	align-self: center;
	display-flex: center;
	display: flex !important;
}